---

---

<footer>
  <span>2024&copy;</span>
  <address>
    <a
      href="http://github.com"
      target="_blank"
      rel="noopener noreferrer"
      >github</a
    >
    <a
      href="http://github.com"
      target="_blank"
      rel="noopener noreferrer"
      >twitter</a
    >
    <a
      href="http://github.com"
      target="_blank"
      rel="noopener noreferrer"
      >youtube</a
    >
    <a
      href="http://github.com"
      target="_blank"
      rel="noopener noreferrer"
      >discord</a
    >
    <a
      href="http://github.com"
      target="_blank"
      rel="noopener noreferrer"
      >twitch</a
    >
  </address>
</footer>

<style>
  footer {
    background-color: lightgreen;
    flex: 20;
  }
</style>
